<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojos & Ninjas</title>
</head>
<body>
    <h1>Add a Dojo</h1>
    <form action="/add_dojo" method="POST">
        <p>Name:<input type="text" name="dojo"></p>
        <p>City:<input type="text" name="city"></p>
        <p>State:<input type="text" name="state"></p>
        <input type="submit" value="Add">
    </form>
    <h1>Add a Ninja</h1>
    <form action="/add_ninja" method="POST">
        <p>First Name:<input type="text" name="first_name"></p>
        <p>Last Name:<input type="text" name="last_name"></p>
        <p>Dojo: <select name="dojo_name">
            {%for dojo in display_info%}
            <option value={{dojo.id}}>{{dojo.dojo_name}}</option>
            {% endfor %}
        </select></p>
        <input type="submit" value="Add">
    </form>
    <hr>
    <h1>All the Dojos</h1>
        <ul>
            {%for details in display_info %}
            <li>{{details.dojo_name}}</li>
                <ul>
                    {% for name in details.user_dojo %}
                        <li>{{name.first_name}} {{name.last_name}}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    
</body>
</html>