<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Tweet</title>
</head>
<body>
    <h1>Edit Tweet:</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/update_tweet/{{tweet.id}}" method="POST">
        <textarea name="update_tweet" cols="30" rows="5">{{tweet.content}}</textarea>
        <br>
        <input type="submit" name="update" value="Update"> 
    </form>
    <p><a href="/dashboard"><button>Cancel</button></a></p>
</body>
</html>